@page
@model PrzepisyWeb.Pages.Recipes.DeleteModel

@{
    ViewData["Title"] = "Usuwanie - ";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3 style="padding: 20px 0 0 0">Czy na pewno chcesz usunąć podany przepis?</h3>

<h4>Przepis</h4>
<hr color="red" />

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <p><b>Nazwa przepisu</b>  : @Html.DisplayFor(model => model.Recipe.Name)</p>
    <p><b>Zdjęcia</b> : @Html.DisplayFor(model => model.Recipe.Image)</p>
    <p><b>Składniki</b>  : @Html.DisplayFor(model => model.Recipe.Ingredients)</p>
    <p><b>Sposób przygotowania</b> : @Html.DisplayFor(model => model.Recipe.Description)</p>
    <p><b>Data dodania</b> : @Html.DisplayFor(model => model.Recipe.Date)</p>
    <form method="post">
        <input type="hidden" asp-for="Recipe.RecipeID" />
        <input type="submit" value="Usuń" class="nav-link btn btn-outline-danger" style="margin: 0 0 10px 0" />
        <div>
            <a asp-page="./MyRecipes" class=" btn btn-outline-success">Wróć do listy swoich przepisów</a>
        </div>
    </form>
</div>
