@page
@model PrzepisyWeb.Pages.Recipes.DetailsModel

@{
    ViewData["Title"] = "Szczegóły - ";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="padding: 20px 0 0 0">Szczegóły</h1>
<h4>Przepis</h4>
<hr color="red" />

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Recipe.RecipeID" />

    <p><b>Nazwa przepisu</b> : @Html.DisplayFor(model => model.Recipe.Name)</p>
    <p><b>Zdjęcia</b> : @Html.DisplayFor(model => model.Recipe.Image)</p>
    <p><b>Składniki</b> : @Html.DisplayFor(model => model.Recipe.Ingredients)</p>
    <p><b>Sposób przygotowania</b> : @Html.DisplayFor(model => model.Recipe.Description)</p>
    <p><b>Data dodania</b> : @Html.DisplayFor(model => model.Recipe.Date)</p>

    <form method="post">
        <a asp-page="./Edit" asp-route-id="@Model.Recipe.RecipeID" class=" btn btn-outline-info" style="margin: 0 0 10px 0">Edytuj</a>
    </form>
    <form>
        <!--a asp-page="Recipies" class=" btn btn-outline-danger">Wróć do listy przepisów</a-->
        <input type="button" class="nav-link btn btn-outline-danger" value="Wróć do listy przepisów" onClick="history.back();" />
    </form>
</div>
