@page
@model PrzepisyWeb.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Lista przepisów - ";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="padding: 20px 0 30px 0">Lista przepisów</h1>

<p>
    <a asp-page="Create" id="go" type="submit" class="nav-link btn btn-outline-warning">Dodaj nowy przepis</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Zdjęcie
            </th>
            <th>
                Składniki
            </th>
            <th>
                Sposob przygotowania
            </th>
            <th>
                Data dodania
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Recipe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RecipeID">Edytuj</a> 
                <a asp-page="./Details" asp-route-id="@item.RecipeID">Szczegóły</a> 
                <a asp-page="./Delete" asp-route-id="@item.RecipeID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
