@page
@model PrzepisyWeb.Pages.Recipes.MyRecipesModel

@{
    ViewData["Title"] = "Moje przepisy - ";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="padding: 20px 0 30px 0">Moje przepisy</h1>

<p>
    <a asp-page="./Create" id="go" type="submit" class="nav-link btn btn-outline-warning" style="margin: 0 0 20px 0">Dodaj nowy przepis</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa przepisu
            </th>
            <th>
                Zdjęcia
            </th>
            <th>
                Składniki
            </th>
            <th>
                Sposób przygotowania
            </th>
            <th>
                Data dodania
            </th>
            <th>
                Liczba polubień
            </th>
            <th>
                Kategorie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>  
@foreach (var item in Model.MyRecipes) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.LikeCounter)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeCategories)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RecipeID" class="btn btn-light" style="margin: 0 0 5px 0">Edytuj</a>
                <br /><a asp-page="./Details" asp-route-id="@item.RecipeID" class="btn btn-light" style="margin: 0 0 5px 0">Szczegóły</a>
                <br /><a asp-page="./Delete" asp-route-id="@item.RecipeID" class="btn btn-light" style="margin: 0 0 5px 0">Usuń</a>
                <br /><a asp-page="/Categories/AddCategory" asp-route-id="@item.RecipeID" class="btn btn-light">Dodaj kategorie</a>
            </td>
        </tr>
}
    </tbody>
</table>
