@page
@model PrzepisyWeb.Pages.Recipes.UserPageModel

@{
    ViewData["Title"] = "UserPage";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Przepisy użytkownika</h1>

<3>
    
    nazwa użytkownika
</3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecipeList[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeList[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeList[0].Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeList[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeList[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeList[0].OwnerUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeList[0].LikeCounter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RecipeList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerUserName)
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="UserName" asp-for="@item.OwnerUserName" />
                    <input type="hidden" name="Like" asp-for="@item.RecipeID" />
                    <input type="submit" name="Like" value="Like" />
                </form>
                @Html.DisplayFor(modelItem => item.LikeCounter)
                <form method="post">
                    <input type="hidden" name="UserName" asp-for="@item.OwnerUserName"/>
                    <input type="hidden" name="Like" asp-for="@item.RecipeID" />
                    <input type="submit" name="Dislike" value="Dislike" />
                </form>
            </td>
            <td>
                <a asp-page="/Recipes/AddFavourite" asp-route-id="@item.RecipeID">Do ulubionych</a> 

            </td>
        </tr>
}
    </tbody>
</table>
