@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna - ";
}

<section>
    <article>
        <h1>Zgłodniałeś?</h1>
        <h2>To strona idealnie dla Ciebie!</h2>
        <p><img class="inherit" src="~/my_img/spaghetti-1932466_1920.jpg" alt="zdjecie-jedzonka"></p>
        <h3>Znajdziesz tutaj wiele przepisów i inspiracji kulinarnych.</h3>
        <img class="left" src="~/my_img/cook-1375797_1920.jpg" alt="zdjecie-ksiazki">
        <p style="margin-top: 30px">Posiadamy ogromną bazę przepisów z najróżniejszych kategorii, więc każdy znajdzie coś dla siebie. 
            Również Ty możesz nam pomóc, dodając swoje ulubione przepisy i dzieląc się nimi z innymi.</p>
        <p style="0 0 40px 0">

        </p>
        <h4 style="40px 0 0 0">Nie czekaj! Dołącz już dziś do naszej małej kulinarnej rodzinki.</h4>

    </article>
</section>
<section>
    <article>
        <h2 style="margin: 50px 0 0 0">Oto TOP 10 przepisów według naszych użytkowników</h2>

        @foreach (var item in Model.SearchList)
        {
            <div class="card m-2">
                <h3 style="text-align:center" class="card-title">@item.Name</h3>
                <img class="card-img-top" src="@item.Image">
                <div class="card-body">
                    <p style="text-align:center" class="card-text">@item.Description</p>
                    <div class="col-md-12 text-center">
                        Autor: <a asp-page="/Recipes/UserPage" asp-route-UserName="@item.OwnerUserName">@Html.DisplayFor(modelItem => item.OwnerUserName)</a><br />
                        <a href="/Recipes/Details?id=@item.RecipeID">Zobacz szczegóły przepisu.</a>
                    </div>
                </div>
            </div>
        }
        <!-- Miejsce na karty-->
    </article>
</section>
