@page
@model PrzepisyWeb.Pages.RecipiesModel
@{
    ViewData["Title"] = "Przepisy - ";
}

<form method="post">
    <div class="form-group justify-content-center">
        <label id="search_1" style="margin: 10px 0 5px 0; font-size: 18px" asp-for="SearchString"><b>Wyszukiwarka</b></label>
        <input type="text" class="form-control" id="search_1" asp-for="SearchString" placeholder="Nazwa przepisu, autor, kategoria..." />
        <small id="search_1" class="form-text text-muted">Maksymalnie 50 znaków</small>
        <span asp-validation-for="SearchString" class="text-danger"></span>
    </div>
    <div class="justify-content-center align-content-center">
        <input type="submit" name="Search" value="Szukaj" class="btn btn-primary" />
    </div>
</form>

@for (int i = 0; i < Model.SearchList.Count(); i++)
{
    <div class="card">
        <h3 style="text-align:center" class="card-title">@Model.SearchList[i].Name</h3>
        <img class="card-img-top" src="@Model.SearchList[i].Image">
        <div class="card-body">
            <p style="text-align:center" class="card-text">@Model.SearchList[i].Description</p>
            <div class="col-md-12 text-center">
                <a href="/Recipes/Details?id=@Model.SearchList[i].RecipeID">Zobacz szczegóły przepisu.</a>
            </div>
        </div>
    </div>
}

@for (int i = 0; i < Model.SearchCategegoryRecipe.Count(); i++)
{
    <div class="card">
        <h3 style="text-align:center" class="card-title">@Model.SearchCategegoryRecipe[i].Name</h3>
        <img class="card-img-top" src="@Model.SearchCategegoryRecipe[i].Image">
        <div class="card-body">
            <p style="text-align:center" class="card-text">@Model.SearchCategegoryRecipe[i].Description</p>
            <div class="col-md-12 text-center">
                <a href="/Recipes/Details?id=@Model.SearchCategegoryRecipe[i].RecipeID">Zobacz szczegóły przepisu.</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}